<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.battery_monitor.android.batterymonitor" >

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Green"
        android:uiOptions="splitActionBarWhenNarrow" >

        <!-- POWER CONNECTION LISTENER -->
        <receiver
            android:name=".receivers.PowerConnectionReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- BATTERY LEVEL LISTENER -->
        <receiver
            android:name=".receivers.BatteryLevelReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BatteryMonitorService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.FullChargedActivity"
            android:label="@string/title_activity_full_charged"
            android:launchMode="singleTask"
            android:showOnLockScreen="true">
        </activity>

        <activity
            android:name=".activities.ChargingActivity"
            android:label="@string/title_activity_charging"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:showOnLockScreen="true" >
        </activity>

    </application>

</manifest>
